<div class="row">
  <div class="col-md-12">
    <div class="registration_edit">
      <h2>ユーザー情報変更</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field name">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"sign_up_form" %>
        </div>

        <div class="field email">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"sign_up_form" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <div class="field password1">
          <i>変更しない場合は空欄のままにしてください</i><br>
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:"sign_up_form" %>
        </div>

        <div class="field password2">
          <%= f.label :パスワード確認 %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"sign_up_form" %>
        </div>

        <div class="field password3">
          <i>現在のパスワードを入力してください</i><br>
          <%= f.label :現在のパスワード %>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"sign_up_form" %>
        </div>

        <div class="actions col-md-4 offset-1">
          <%= f.submit " ユーザー情報更新 ", class:"btn btn-success btn-block" %>
        </div>

        <div class="actions col-md-4 offset-1">
          <%= link_to" ユーザー情報削除 ", user_registration_path, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger btn-block", method: :delete  %>
        </div>
      <% end %>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>