<div class="row">
<h2>マイページ</h2>
  <div class="col-md-12">
	<table class="table items_index">
	　<thead class="contents">
		<tr>
		  <th>ジャンル</th>
		  <th>アイテム名</th>
		  <th>個数</th>
		  <th>期限</th>
		</tr>
	  </thead>

	  <tbody>
	  <% @limit_items.each do |item| %>
	  	<tr>
	  	  <td><%= item.genre.name %></td>
	  	  <td>
	  	  	<%= link_to item_path(item) do %>
  	  	  	  <%= item.name %>
  	  		<% end %>
  	  	  </td>
	  	  <td><%= item.quantity %></td>
	  	  <td><%= item.exp %></td>
	  	</tr>
	  <% end %>
	  </tbody>
	</table>
  </div>

  <div class="col-md-4">
	<table class="table sidebar">
	  <thead>
	    <tr>
	  	  <td>
	  	    <%= search_form_for (@search), url: items_search_path, method: :get do |f| %>
	        <%= f.search_field :name_cont, class:"col-md-8" %>
	        <%= f.submit '検索', class:"btn btn-secondary btn-sm" %>
		    <% end %>
		  </td>
	    </tr>
	  </thead>
	  <tbody>
		<% @genres.each do |genre| %>
		  <tr>
		    <td>
		      <%= link_to items_path(genre_id: @genre) do %>
		  	    <%= genre.name %>
		  	  <% end %>
	    	</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
  </div>

  <div class="col-md-8">
	<table class="table items_index">
	　<thead class="contents">
		<tr>
		  <th>ジャンル</th>
		  <th>アイテム名</th>
		  <th>個数</th>
		  <th>期限</th>
		</tr>
	  </thead>

	  <tbody>
	  <% @items.each do |item| %>
	  	<tr>
	  	  <td><%= item.genre.name %></td>
	  	  <td><%= item.name %></td>
	  	  <td><%= item.quantity %></td>
	  	  <td><%= item.exp %></td>
	  	</tr>
	  <% end %>
	  </tbody>
	</table>
  </div>
</div>