<div class="row">
  <div class="col-md-10 offset-1">
  	<div class="user_show">
	  <h2>マイページ</h2>
	  <%= link_to edit_user_registration_path, class:"user_edit_link" do %>
	  	<i class="fas fa-edit"></i>ユーザー情報編集
	  <% end %>
	</div>
	<table class="table limit_items_index">
	　<thead class="contents">
		<tr>
		  <th>ジャンル</th>
		  <th>アイテム名</th>
		  <th>個数</th>
		  <th>期限が近い順</th>
		</tr>
	  </thead>

	  <tbody>
	  <% @limit_items.each do |item| %>
	  	<tr>
	  	  <td>
	  	  	<%= link_to items_path(genre_id: item.genre) do %>
              <%= item.genre.name %>
            <% end %>
          </td>
	  	  <td>
	  	  	<%= link_to item_path(item) do %>
  	  	  	  <%= item.name %>
  	  		<% end %>
  	  	  </td>
	  	  <td><%= item.quantity %></td>
	  	  <td><%= item.exp %></td>
	  	</tr>
	  <% end %>
	  </tbody>
	</table>
  </div>

  <div class="col-md-4 offset-1">
	<table class="table sidebar">
	  <thead>
	    <tr>
	  	  <td>
	  	    <%= render "items/search_box" %>
		  </td>
	    </tr>
	  </thead>
	  <tbody>
		<% @genres.each do |genre| %>
		  <tr>
		    <td>
		      <%= link_to items_path(genre_id: genre) do %>
		  	    <%= genre.name %>
		  	  <% end %>
	    	</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
  </div>

  <div class="col-md-6 offset-push-1">
	<table class="table new_items_index">
	　<thead class="contents">
		<tr>
		  <th>登録日時順</th>
		  <th>ジャンル</th>
		  <th>アイテム名</th>
		  <th>個数</th>
		</tr>
	  </thead>

	  <tbody>
	  <% @new_items.each do |item| %>
	  	<tr>
	  	  <td><%= item.updated_at.strftime("%Y/%m/%d") %></td>
	  	  <td>
	  	  	<%= link_to items_path(genre_id: item.genre) do %>
              <%= item.genre.name %>
            <% end %>
          </td>
	  	  <td>
	  	  	<%= link_to item_path(item) do %>
  	  	  	  <%= item.name %>
  	  		<% end %>
  	  	  </td>
	  	  <td><%= item.quantity %></td>
	  	</tr>
	  <% end %>
	  </tbody>
	</table>
  </div>
</div>