<div class="row">
  <div class="col-md-12">
    <h2>アイテム一覧</h2>
    <span class="items_search_box">
      <%= render "items/search_box" %>
    </span>
    <table class="table items_index">
    　<thead class="contents">
    	<tr>
    	  <th>ジャンル</th>
    	  <th>アイテム名</th>
    	  <th>個数</th>
    	  <th>期限</th>
    	  <th></th>
    	  <th></th>
    	</tr>
      </thead>

      <tbody>
      <% @items.each do |item| %>
      	<tr>
      	  <td>
            <%= link_to items_path(genre_id: item.genre) do %>
              <%= item.genre.name %>
            <% end %>
          </td>
      	  <td>
      	  	<%= link_to item_path(item) do %>
      	  	  <%= item.name %>
      	  	<% end %>
      	  </td>
      	  <td><%= item.quantity %></td>
      	  <td><%= item.exp %></td>
      	  <td><%= link_to "編集", edit_item_path(item), class:"btn btn-success"  %></td>
      	  <td><%= link_to "削除", item_path(item), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
      	</tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>