<div class="row">
  <div class="col-md-12 error_message">
    <%= render 'users/error', model: @item %>
  </div>
</div>

<%= form_with model:@item, class:"form", local: true do |f| %>
  <div class="row">
    <div class="col-md-4 offset-md-1 col-sm-12">
    <h2>アイテム追加</h2>
  	  <div class="item_image">
  	  	<%= attachment_image_tag @item, :image, format: "jpg", fallback: "no-data.jpg" %><br>
  	  	<%= f.attachment_field :image %>
  	  </div>
    </div>

    <div class="col-md-5 offset-md-1 col-sm-12 items_form">
      <div class="items name">
        <%= f.label :アイテム名 %>
    	  <%= f.text_field :name, class:"item_field" %>
      </div>

      <div class="items genre">
        <%= f.label :ジャンル %>
    	  <%= f.select :genre_id, current_user.genres.all.map {|genre| [genre.name, genre.id ] }, {prompt: "ジャンルを選択"}, class:"item_field" %>
      </div>

      <%= form_with model:@genre do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="items add_genre">
          <%= f.label :ジャンル追加 %>
          <%= f.text_field :name, class:"item_field" %><br>
          <%= f.submit "追加", class: "btn btn-primary", formaction: genres_path(@genre) %></td>
        </div>
      <% end %>

      <div class="items quantity">
        <%= f.label :個数 %>
        <div class="item_field">
          <input type="button" value="&#xf146;" class="fas fa-minus-square" id="down">
      	    <%= f.number_field :quantity, class:"quantity_field" %>
          <input type="button" value="&#xf0fe;" class="fas fa-plus-square" id="up">
        </div>
      </div>

      <div class="items exp">
        <%= f.label :期限 %>
    	  <%= f.date_field :exp, class:"item_field" %>
        <br><p>※登録した期限の3日前と当日にお知らせメールが届きます</p>
      </div>

      <div class="items memo">
        <%= f.label :メモ %>
    	  <%= f.text_area :memo, class:"memo_area" %>
      </div>

      <div class="items actions">
    	  <%= f.submit "追加", class:"btn btn-primary" %>
      </div>

    </div>
  <% end %>
</div>
