<div class="row">
  <div class="col-md-12 error_message">
    <%= render 'users/error', model: @item %>
  </div>
  <%= form_for(@item) do |f| %>
    <div class="col-md-5">
    <h2>アイテム追加</h2>
  	  <div class="item_image">
  	  	<%= attachment_image_tag @item, :image, size: "300x300", format: "jpg",
  	  	fallback: "no-data.jpg", size: "300x300" %>
  	  	<%= f.attachment_field :image %>
  	  </div>
    </div>

    <div class="col-md-7">
      <div class="item_name">アイテム名
    	  <%= f.text_field :name, class:"item_field" %>
      </div>
      <div class="item_genre">ジャンル
    	  <%= f.select :genre_id, current_user.genres.all.map {|genre| [genre.name, genre.id ] }, nclude_blanck: "選択してください" %>
      </div>
      <div class="item_quantity">個数
    	  <%= f.number_field :quantity, class:"item_field" %>
      </div>
      <div class="item_exp">期限
    	  <%= f.date_field :exp, class:"item_field" %>
      </div>
      <div class="item_memo">メモ
    	  <%= f.text_area :memo, class:"item_field" %>
      </div>
      <div class="item_create">
    	  <%= f.submit "追加", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
