<div class="row">
  <div class="col-lg-4 offset-lg-1 col-md-9 offset-md-3">
    <div class="item_image">
    <h2>アイテム情報</h2>
    	<%= attachment_image_tag @item, :image, size: "300x300", format: "jpg",
    	fallback: "no-data.jpg", size: "300x300" %>
    </div>
  </div>

  <div class="col-lg-6 offset-lg-1 col-md-9 offset-md-3 items_show_bottom">
    <div class="items name"><b>アイテム名</b>
      <span class="item_field">
    	  <%= @item.name %>
      </span>
    </div>
    <div class="items genre"><b>ジャンル</b>
      <span class="item_field">
        <%= @item.genre.name %>
      </span>
    </div>
    <div class="items quantity"><b>個数</b>
      <span class="item_field">
        <%= @item.quantity %>
      </span>
    </div>
    <div class="items exp"><b>期限</b>
      <span class="item_field">
        <%= @item.exp %>
      </span>
    </div>
    <div class="items memo"><b>メモ</b>
      <span class="memo_area">
        <%= @item.memo %>
      </span>
    </div>
    <div class="items edit_delete">
      <%= link_to "編集", edit_item_path(@item), class:"btn btn-success"  %>
      <%= link_to "削除", item_path(@item), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
    </div>
  </div>
</div>