<div class="row">
  <div class="col-md-4 offset-md-1 col-sm-12">
    <h2>アイテム情報</h2>
    <div class="item_image">
    	<%= attachment_image_tag @item, :image, format: "jpg", fallback: "no-data.jpg" %>
    </div>
  </div>

  <div class="col-md-5 offset-md-1 col-sm-12 items_show_bottom">
    <div class="items name">アイテム名
      <span class="item_field">
    	  <%= @item.name %>
      </span>
    </div>
    <div class="items genre">ジャンル
      <span class="item_field">
        <%= @item.genre.name %>
      </span>
    </div>
    <div class="items quantity">個数
      <span class="item_field">
        <%= link_to quantity_decreases_path(@item), method: :patch do %>
          <i class="fas fa-minus-square"></i>
        <% end %>
        <%= @item.quantity %>
        <%= link_to quantity_increases_path(@item), method: :patch do %>
          <i class="fas fa-plus-square"></i>
        <% end %>
      </span>
    </div>
    <div class="items exp">期限
      <span class="item_field">
        <%= @item.exp %>
      </span>
    </div>
    <div class="items memo">メモ
      <span class="memo_area">
        <%= @item.memo %>
      </span>
    </div>
    <div class="items edit_delete">
      <%= link_to "編集", edit_item_path(@item), class:"btn btn-success"  %>
      <%= link_to "削除", item_path(@item), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
    </div>
  </div>
</div>